{% extends 'base.html' %}<!-- This tells django to extend or to use all of the markup defined in the base.html file to pre-render it before the block of content that we add dynamically-->


{% block content %}<!-- Then here when the block of content is called in the body the extends tag which make this html code global comes into play to displaying it with the bootstrap there-->

    <h1>Products</h1>
    <div class="row">
        {% for product in products %} <!-- These % and {} signs is the render tag in html for rendering python code when working with django-->
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ product.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">${{product.price}}</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
<!-- <ul>
    
    <li>{{ product.name }} (${{ product.price }})</li> #for adding name variable from each product using the product model

</ul> -->